<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookie.vex">

    <!-- Permissões -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/vex"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/vex"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Atividade principal -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Outras atividades -->
        <activity
            android:name=".AddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BancoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DebugActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomizeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListDatabasesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NicknameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TutorialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        >
    </application>

</manifest>
